@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page::after {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 120;
    display: none;
}

.popup {
    background-color: #ffffff;
    position: fixed;
    z-index: 200;
    width: calc(100% - 30px);
    max-width: 390px;
    margin-top: 55px;
    padding: 30px 25px;
    display: none;
}

.exit-button {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    position: absolute;
    background-color: unset;
    top: -35px;
    right: 0px;
}

.exit {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} 

.popup-header {
    font-size: 16px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
  
.popup-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.question {
    display: block;
    font-size: 13px;
    font-family: 'OpenSans', Arial, sans-serif;
    margin-bottom: 13px;
    margin-top: 35px;
}

.select {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    border: 0;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
    background-color: #f4f7f6;
    color: #bdc0bf;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 10px 17px;
}

.select:focus {
    color: #000000;
}

.radio-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
}
    
.radio {
    display: inline-block;
    font-size: 13px;
    position: absolute;
    clip: rect(top, right, bottom, left);
    height: 1px;
    width: 1px;
}
  
.radio:checked ~ .radio-text::before {
    background-image: url("../svg/form-circle.svg");
}

.radio-text {
    font-size: 13px;
    font-family: 'OpenSans', Arial, sans-serif;   
}

.radio-text:nth-child(2n+1) {
    margin-right: 35px;
}

.text-field {
    display: block;
    height: 130px;
    width: 100%;
    padding-left: 20px;
    padding-top: 25px;
    border: 0px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
    background: #f4f7f6;
    color: #a2a4a3;
}
  
.text-field:focus {
    color: #000000;
}
  
.button-send {
    padding: 15px 55px;
    color: #ffffff;
    background-color: #b59f5b;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header {
    background-image: url("../images/banner-mobile.jpg");
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-color: #ffff;
    position: relative;
    z-index: 1;
    background-size: 100%;
    background-size:cover;
}

.header:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 100%;
    width: 270px;
    position: relative;
    z-index: 1;
    margin-top: 235px;
}

.header-title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'OpenSans', Arial, sans-serif;
    color: #ffff;
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.38;
    margin-bottom: 220px;
}

.trends-header {
    margin-top: 65px;
    font-size: 20px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
  
.trends-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.trend {
  width: 100%;
}

.trend-fon {
    position: relative;
}

.trend-fon:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
    height: 99%;
}

.trend-border {
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    border: 3px solid #887342;
    bottom: 15px;
    z-index: 1;
    width: calc(100% - 30px);
}

.trend-list {
    list-style-type: none;
}
  
.trend-item {
    display: inline;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.trend-item:hover {
    text-decoration: underline;
}

.trend-item:nth-child(n+2) {
    margin-left: 20px;
}

.link-teg {
    color: #b59f5b;
}

.trend-text {
    margin-top: 30px;
    display: block;
    font-size: 20px;
    color:#ffffff;
    line-height: 1.2; 
    font-family:'OpenSans', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.trend-text:hover {
    color: #b59f5b;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    margin-top: 40px;
}

.block::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #eeeeee;
    margin-top: 25px;
    margin-bottom: 35px;
}

.news {
    width: 100%;
    height: 100%;
}

.list {
    list-style-type: none;
}
  
.item {
    display: inline;
    color: #b59f5b;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.item:hover {
    text-decoration: underline;
}

.item:nth-child(n+2) {
    margin-left: 20px;
}

.description-header {
    text-transform: uppercase; 
    font-family: 'OpenSans', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.25;
}

.link-desc {
    color: #000000;
}
  
.link-desc:hover {
    color: #b59f5b;
}

.date {
    font-family: 'OpenSans', Arial, sans-serif;
    color: #888888;
    font-size: 12px;
    margin-right: 15px;
}
  
.author { 
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
  
.text {
    display: block;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.47;  
    margin-top: 25px;
}

.text-add {
    display: block;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.47;  
    margin-top: 15px;
}

.recomendation-header {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
  
.recomendation-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
  
.recomendation {
    display: flex;
    margin-bottom: 22px;
}

.post {
    height: 100%;
}

.description-aside {
    margin-left: 20px;
}

.date-aside {
    font-family: 'OpenSans', Arial, sans-serif;
    color: #888888;
    font-size: 12px;
}
  
.aside-desc-header {
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.29;
    font-weight: bold;
}
  
.link-recomendation {
    color: #000000;
}
  
.about-search {
    margin-top: 38px;
    margin-bottom: 45px;
}

.search {
    font-size: 0;
}
  
.hidden-desc-search {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} 
  
.search-text {
    padding: 20px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    width: calc(100% - 54px); 
}
  
.search-button {
    width: 52px;
    height: 57px;
    background-color: #b59f5b;
    padding: 15px;
    border: none;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    position: relative;
    bottom: 5px;
}
  
.email-header {
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
  
.email-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
  
.about-email {
    margin-bottom: 45px;
}
  
.hidden-desc-email {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} 
  
.email-text {
    border: none;
    background-color: #f4f7f6;
    width: 100%;
    padding: 20px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
}

.email-button {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #b59f5b;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.tegs-header {
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
}
  
.tegs-header:after { 
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
  
.about-tegs {
    margin-bottom: 45px;
}
  
.tegs {
    list-style-type: none;
}
  
.teg {
    display: inline-block;
    margin-bottom: 6px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.teg:hover {
    font-weight: 900;
}
  
.teg:nth-last-child(n+2) {
    margin-right: 5px;
}
  
.link-tegs {
    display: inline-block;
    color: #000000;
    border: 3px solid #eeeeee;
    padding: 6px 13px 6px 13px;
}

.themes-header {
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
  
.themes-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
  
.themes {
    list-style-type: none;
}
  
.theme {
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 16px;
}

.theme:after { 
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #eeeeee;
    margin-top: 16px;
}
  
.link-themes {
    color: #000000;
}

.link-themes:hover {
    color: #b59f5b;
}
  
.index {
    vertical-align: super;
    color: #c5b585;
}

.shop-header {
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}
  
.shop-header:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background: #e1d9bd;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.shop-border {
    border: 3px solid #d3c59d;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
    z-index: 100;
    width: calc(100% - 36px);
    margin-top: -30px;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.shop-item-header {
    text-transform: uppercase; 
    font-family: 'OpenSans', Arial, sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
  
.link-shop {
    color: #000000;
}
  
.link-shop-text {
    color: #bba76b;
}
  
.link-shop-text:hover {
    text-decoration: underline;
}

.shop-text {
    font-size: 15px;
    line-height: 1.47;
    font-family: 'OpenSans', Arial, sans-serif;
}

.shop-footer {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
}
  
.shop-price {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    font-family: 'OpenSans', Arial, sans-serif;
}
  
.shop-price::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 45px;
    bottom: 8px;
    background-color: #000000;
}
  
.last-shop-price {
    font-size: 20px;
    font-weight: bold;
    font-family: 'OpenSans', Arial, sans-serif;
}
  
.shop-button {
    text-transform: uppercase;
    padding: 20px 28px 20px 30px;
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #b59f5b;
}

.footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    margin-top: 45px;
}
  
.about-icons {
    background: #f4f7f6;
}
  
.icons {
    list-style-type: none;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
} 
  
.icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 30px;
}
  
.link-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.link-pinterest {
    background: url("../svg/001-pinterest.svg");
}
  
.link-facebook {
    background: url("../svg/002-facebook-logo.svg");
    background-size: 20px 20px;
}
  
.link-instagram {
    background: url("../svg/005-instagram.svg");
}
  
.link-tumblr {
    background: url("../svg/003-tumblr.svg");
    margin-right: 0;
}
  
.link-copyright {
    display: block;
    margin-top: 50px;
    color: #999999;
    font-size: 12px;
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 30px);
}
  
@media (max-width: 640px) {
    /*.page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/

    .menu {
        width: 23px;
        height: 3px;
        background: #ffffff;
        position: absolute;
        display: block;
        z-index: 1;
        right: 15px;
        top: 32px;
        font-size: 0;
    }
    
    .menu::after {
        content: '';
        width: 23px;
        height: 3px;
        background: #ffffff;
        position: absolute;
        display: block;
        z-index: 1;
        right: 0;
        top: -8px;
    }
    
    .menu::before {
        content: '';
        width: 23px;
        height: 3px;
        background: #ffffff;
        position: absolute;
        display: block;
        z-index: 1;
        right: 0;
        top: 8px;
    }

    .header-title {
        display: inline-block;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .popup {
        margin-right: calc((100% - 390px) / 2);
        margin-left: calc((100% - 390px) / 2);
    }

    .header {
        background: url("../images/banner-bg-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 35px 125px 35px;
    }

    .title {
        flex-direction: row;
        padding-top: 43px;
    }

    .logo {
        width: 155px;
        margin: 0;
    }

    .menu {
        width: 23px;
        height: 3px;
        background: #ffffff;
        position: absolute;
        display: block;
        z-index: 1;
        right: 35px;
        top: 53px;
        font-size: 0;
    }

    .menu::after {
        content: '';
        width: 23px;
        height: 3px;
        background: #ffffff;
        position: absolute;
        display: block;
        z-index: 1;
        right: 0;
        top: -8px;
    }
    
    .menu::before {
        content: '';
        width: 23px;
        height: 3px;
        background: #ffffff;
        position: absolute;
        display: block;
        z-index: 1;
        right: 0;
        top: 8px;
    }

    .header-title {
        margin: auto;
        margin-top: 45px;
        font-size: 40px;
        margin-top: 103px;
    }

    .trends-header {
        margin-top: 50px;
        font-size: 18px;
    }

    .trends {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-fon {
        width: 49.8%;
    }
    
    .trend-border {
        padding: 35px 30px;
        margin-bottom: 15px; 
        margin-left: 20px;
        margin-right: 20px;
    }

    .trend-text {
        font-size: 17px;
        margin-top: 15px;
        line-height: 1.3;
    }

    .content {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 50px;
        display: flex;
    }
    
    .main {
        margin-right: 35px;
        margin-top: 0;
    }

    .block::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background: #eeeeee;
        margin-top: 25px;
        margin-bottom: 45px;
    }

    .description-header {
        margin-bottom: 45px;
        font-size: 17px;
        line-height: 1.29;
    }

    .text {
        font-size: 15px;
        margin-top: 40px;
        line-height: 1.47;
    }

    .text-add {
        font-size: 15px;
        line-height: 1.47;
    }

    .about-search {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 35px;
        padding-right: 35px;
    }

    .shop-border {
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        z-index: 100;
        width: 335px;
    }

    .footer {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 40px;
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .popup {
        margin-right: calc((100% - 390px) / 2);
        margin-left: calc((100% - 390px) / 2);
    }

    .header {
        background: url("../images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 15px 150px 15px;
    }

    .logo {
        width: 155px;
        margin: 0;
        position: static;
    }

    .menu-item {
        color: #ffff;
        font-family: 'OpenSans', Arial, sans-serif;
        font-weight: 400; 
        text-transform: uppercase;
    }

    .menu-item:hover {
        text-decoration: underline;
    }

    .title {
        flex-direction: row;
        padding-top: 35px;
        position: relative;
        z-index: 1;
        justify-content: space-between;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px;
    }

    .menu-item:nth-last-child(n+2) {
        margin-right: 30px;
    }

    .header-title {
        margin: auto;
        margin-top: 100px;
        font-size: 45px;
        line-height: 1.67;
        max-width: 700px;
        text-align: center;
    }

    .trends {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-fon {
        width: 24.5%;
    }

    .trend-border {
        padding: 20px;
    }

    .trend-text {
        margin-top: 15px;
    }

    .content {
        margin: auto;
        margin-top: 65px;
        display: flex;
        max-width: 1200px;
        padding: 0 15px;
        justify-content: space-between;
    }

    .main {
        margin-top: 0;
    }

    .block {
        display: flex;
        max-width: 778px;
    }

    .block:nth-last-child(n+2) {
        margin-bottom: 60px;
    }

    .block::after {
        content: '';
        display: none;
    }

    .news {
        margin-right: 30px;
    }

    .description-header {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 1.2;
    }

    .text {
        display: block;
        font-family: 'OpenSans', Arial, sans-serif;
        font-size: 15px;
        line-height: 1.47;  
        margin-top: 55px;
    }
    
    .text-add {
        display: block;
        font-family: 'OpenSans', Arial, sans-serif;
        font-size: 15px;
        line-height: 1.47;  
        margin-top: 25px;
    }

    .aside {
        width: 272px;
    }

    .about-recomendations {
        margin-bottom: 60px;
    }

    .about-search {
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .about-tegs {
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px;
        margin: auto;
    }

    .shop-border {
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        z-index: 100;
        width: 345px;
    }

    .footer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}
